# Node Logs
logs
*.log
npm-debug.log*

# VisualStudioCode
.settings

# WebStorm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Dependency directory
node_modules/
yarn.lock

# Compiled binary
dist/

.idea/
.vscode/
.DS_Store
.AppleDouble
.LSOverride
.happypack/
dist.zip
dist.rar

# Thumbnails
Thumbs.db
ehthumbs.db
._*
